<div class="example-container">
    <form [formGroup]="formClient">
        <mat-form-field class="item">
            <input matInput placeholder="nombre" formControlName="name">
        </mat-form-field>
    
        <mat-form-field>
            <input matInput placeholder="correo@gmail.com" formControlName="email">
        </mat-form-field>
    
        <mat-form-field>
            <input matInput placeholder="order" formControlName="order">
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary">Aceptar</button>
            <button mat-raised-button color="warn">Cancelar</button>
        </div>
    </form>
</div>